<section id="barcode" class="contacts-section">
   <div class="container content-lg">
       <div class="title-v1">
           <h2>扫一扫</h2>
           <p>请关注功勋老师的留学分享微信订阅号（微信扫描下方的二维码）</p>
           <p>
               <img src="/static/img/barcode/barcode.jpg" style="max-height: 25%; max-width:25%;">
           </p>
       </div>
   </div>
   </section>
   <!--  Start of Features Section -->
