<section id="barcode" class="contacts-section">
   <div class="container content-lg">
       <div class="title-v1">
           <h2>课程表</h2>
           <p></p>
           <p>
               <img src="/images-dist/schedule.jpg" style="max-height: 50%; max-width:50%;">
           </p>
       </div>
   </div>
   </section>
   <!--  Start of Features Section -->
