
                <!--  Features Section -->
                <section id="about" class="about-section section-first">
                    <div class="block-v1">
                        <div class="container">
                            <div class="row content-boxes-v3">
                                <div class="title-v1">
                                    <h1>我们的特色</h1>
                                </div>
                                <div class="col-md-6 md-margin-bottom-30">
                                    <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
                                    <div class="content-boxes-in-v3">
                                        <h2 class="heading-sm">满分团队</h2>
                                        <p class="character">SpeakHub团队核心成员来自耶鲁牛津卡耐基梅隆等海外名校，熟知从托福考试到留学申请的各个环节。</p>
                                    </div>
                                </div>
                                <div class="col-md-6 md-margin-bottom-30">
                                    <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
                                    <div class="content-boxes-in-v3">
                                        <h2 class="heading-sm">专属工具</h2>
                                        <p class="character">SpeakHub团队为学员开发最高效的学习工具，甄选最地道学习素材，为学员打造高效学习环境。</p>
                                    </div>
                                </div>
                                <div class="col-md-6 md-margin-bottom-30">
                                    <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
                                    <div class="content-boxes-in-v3">
                                        <h2 class="heading-sm">独特体验</h2>
                                        <p class="character">SpeakHub培训项目采用严苛的淘汰机制，保证最高效的交流和学习效果，一鼓作气，短时间突破口语学习的瓶颈。</p>
                                    </div>
                                </div>
                                <div class="col-md-6 md-margin-bottom-30">
                                    <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
                                    <div class="content-boxes-in-v3">
                                        <h2 class="heading-sm">学员反馈</h2>
                                        <p class="character">Speakup在两年时间内已经培训近万名学员，收到许多让我们欣喜和感动的反馈。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  End of Features Section -->
